<mat-accordion multi="true" *ngIf="posts?.length > 0; else noPosts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-img"><img [src]="post.imagePath" alt="post.title" /></div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="isLoggedIn">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPosts>
  <p class="no-list-text">No posts have been added yet.</p>
</ng-template>
