.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-file {
    cursor: pointer;
    position: absolute;
    left: 100px;
    color: red;
}
