<mat-card>
  <form [formGroup]="createPostFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        value="{{ post?.title }}"
      />
      <mat-error *ngIf="createPostFormGroup.hasError('required', 'title')">
        Please enter a title
      </mat-error>
    </mat-form-field>

    <app-file-upload
      [supportedFileTypes]="['image']"
      (selectedFile)="onFileSeclect($event)"
    ></app-file-upload>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" alt="form.value.title" />
    </div>

    <mat-form-field>
      <textarea
        matInput
        row="6"
        placeholder="Content"
        formControlName="content"
        value="{{ post?.content }}"
      ></textarea>
      <mat-error *ngIf="createPostFormGroup.hasError('required', 'content')">
        Please enter your some content
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!createPostFormGroup.valid"
    >
      Save Post
    </button>
  </form>
</mat-card>
